<div class="container-chat">
    <form action='/' method='post'>

        <div class="mb-3">

            <h2>Fomulario</h2>
            <input type='text' class='form-control' placeholder='Email' aria-label='user' name='user' />

            <div id="emailHelp" class="form-text">Ingresa tu email para poder contactarte despues de tu gestion</div>
        </div>
        <div class="mb-3">
            <input type='text' class='form-control' placeholder='ingresa un mensaje' aria-label='menssage'
                name='menssage' />
        </div>
        <button type="submit" class="btn btn-primary">enviar</button>

    </form>

    <div class='container-chat'>


        <h2 class="Lista">Lista de Mensajes</h2>
        <div id="List-Message"></div>



    </div>


</div>



<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>